@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f3f4f6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

textarea,
input[type="text"] {
  font-family: var(--font-geist-mono), monospace;
}
